@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html,
body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Home */

.chooseBox > div > div > input,
label {
  cursor: pointer;
}

.inputBox > b {
  color: green;
  margin-top: 5px;
}

.container > div:nth-child(1) {
  height: 100px;
}

.container > div:nth-child(1) > h1 {
  font-family: "Tektur", sans-serif;
  font-size: x-large;
}

/* Quiz Page */

.timer > div {
  width: 200px;
}

.tracking > div > ol > li {
  width: calc(100% / 5 - 10px);
}

.tracking > div {
  padding-top: 10px;
  padding-left: 5px;
  max-width: 300px;
}

.quizBox > div > div > button:hover {
  background-color: var(--bs-success);
}

.quizPage > h1 {
  font-size: xx-large;
  margin-bottom: 30px;
}

.quizBox {
  width: 95%;
  margin: 0 auto;
}

.timeout {
  margin-top: 200px;
}

.timeout > button {
  font-size: x-large !important;
}

/* Result Page */

.table > thead > tr > th {
  color: white !important;
  background-color: var(--bs-success);
}

.scoreCard > div > span > h3 {
  font-size: xx-large;
  font-family: "Tektur", sans-serif;
  color: aqua;
  margin-top: 5px;
}

.allQuizBox > div > div > div > button:hover {
  background-color: inherit !important;
  color: inherit !important;
  border-color: inherit !important;
  cursor: no-drop;
}

/* Confirm Box */

.modal-header > h5 {
  padding-left: 120px;
}

.btn-white:hover {
  background-color: black !important;
  color: white !important;
}

.correct-answer {
  background-color: green !important;
}

#number_box {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  /* Home */

  #home {
    width: 95%;
    margin-bottom: 10px;
  }

  #home > div:nth-child(1) > h1 {
    width: 100%;
  }

  .inputBox {
    width: 75%;
  }

  /* QuizPage */

  .quizBox {
    padding: 30px;
  }

  .quizPage > h1 {
    margin-bottom: 20px;
  }

  .quizPage {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .allQuizBox {
    width: 75% !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1400px) {
  .quizBox {
    padding: 50px;
  }

  #home > div:nth-child(1) > h1 {
    width: 75% !important;
  }

  .inputBox {
    width: 50%;
  }
}
